.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: 'Montserrat';
  color: #333;
}


.heading {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  color: #1e293b;
}

.subheading {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 40px;
  color: #475569;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin-bottom: 50px;
}

.card {
  background: #f9fafb;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
  transition: transform 0.2s ease;
}

.cardInnerText{
font-size: 10px;
}
.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 14px;
  color: #0f172a;
}

.card p {
  font-size: 12px;
  line-height: 1.5;
  color: #475569;
}

.whatsappBtn {
  display: inline-flex;
  align-items: center;
  margin-top: 25px;
  padding: 8px 12px;
  background-color: #25d366;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.whatsappBtn:hover {
  background-color: #1ebe5d;
}

.formTitle {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  color: #1e293b;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  padding: 12px 15px;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 12px;
  background-color: white;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #1e5d8a;
  outline: none;
  background-color: #f8fafc;
}

.submitBtn {
  padding: 12px;
  background-color: #1e5d8a;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitBtn:hover {
  background-color: #17374f;
}

.toast {
  margin-top: 20px;
  text-align: center;
  padding: 10px 20px;
  background-color: #d1fae5;
  color: #065f46;
  font-weight: 500;
  border-radius: 8px;
}

.errorToast {
  background-color: #fee2e2;
  color: #991b1b;
}

.error {
  color: #dc2626;
  font-size: 0.85rem;
  margin-top: -8px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.error {
  color: #dc2626; /* Tailwind red-600 */
  font-size: 0.875rem; /* text-sm */
  margin-top: 4px;
}
 