.privacyContainer {
  background-color: #f9fafb;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.highlight {
    color:  #364153;
  /* color: #1e5d8a; */
  font-weight: 600;
}
