/* Swiper pagination bullet color */
.swiper-pagination-bullet {
  background-color: #d1d5db; /* light gray default */
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background-color: #facc15; /* yellow-400 for active */
  opacity: 1;
}
