@import "tailwindcss";

body{
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.container{
  width: 90%;
  margin: auto;
}

/* Force override Swiper pagination styles */
:root {
  --swiper-theme-color: #1e5d8a; /* Tailwind yellow-400 */
}

.swiper-pagination-bullet {
  background: #d1d5db !important; /* Light gray default */
  opacity: 0.7;
}

.swiper-pagination-bullet-active {
  background: #1e5d8a !important; /* Yellow when active */
  opacity: 1;
}
